git+https://github.com/Scalr/lettuce.git@c59cb4f922b4094e02939acf57b72bdac7cca495
pywinrm==0.2.1
PyChef==0.2.3
semver
githubpy==1.1.0
boto3==1.4.7
azure-mgmt-web>=0.34.1
azure-mgmt-eventhub>=1.2.0
azure-mgmt-machinelearningcompute>=0.4.0
azure-mgmt-containerregistry>=1.0.1
azure-mgmt-containerservice>=2.0.0
azure-mgmt-sql>=0.8.3
