git+https://github.com/Scalr/lettuce.git@c59cb4f922b4094e02939acf57b72bdac7cca495
PyChef>=0.3.0
semver>=2.8.0
githubpy>=1.1.0
boto3>=1.7.39
azure-mgmt-web>=0.35.0
azure-mgmt-eventhub>=2.0.0
azure-mgmt-machinelearningcompute>=0.4.1
azure-mgmt-containerregistry>=2.0.0
azure-mgmt-containerservice>=4.1.0
azure-mgmt-sql>=0.9.1
azure-mgmt-monitor>=0.5.2
pytest>=3.7.1
ansible-tower-cli==3.2.1
